<div #contentRef class="content">
  <div class="container mt-5">
    <div class="row bg-white p-4 rounded shadow">
      <!-- Product Image -->
      <div class="col-md-5 text-center">
        <img [src]="product.image" alt="PC Image" class="img-fluid rounded">
      </div>

      <!-- Product Info -->
      <div class="col-md-7">
        <h2>{{ product.name }}</h2>
        <p class="text-muted">{{ product.category }}</p>
        <p class="mb-3 font-size-16">
          <span class="original-price">{{ product.originalPrice | currency:'INR':'symbol':'1.0-0' }}</span>
          <span class="discounted-price" *ngIf="product.discountedPrice">
            &nbsp;{{ product.discountedPrice | currency:'INR':'symbol':'1.0-0' }}
          </span>
        </p>

        <div class="d-flex flex-wrap gap-3 mt-3">
          <button class="btn btn-lg btn-primary px-4 py-2 shadow-sm rounded-pill" (click)="buyNow()">
            <i class="bi bi-lightning-charge-fill me-2"></i> Buy Now
          </button>
          <!-- <button class="btn btn-lg btn-outline-primary px-4 py-2 shadow-sm rounded-pill" (click)="addToCart()">
            <i class="bi bi-cart-plus me-2"></i> Add to Cart
          </button> -->
          <button class="btn btn-lg btn-cart-custom px-4 py-2 shadow-sm rounded-pill" (click)="addToCart()">
            <i class="bi bi-cart-fill me-2"></i> Add to Cart
          </button>

        </div>

        <!-- <div class="btn-group">
          <button class="btn btn-primary me-2" (click)="buyNow()">Buy Now</button>
          <button class="btn btn-outline-primary" (click)="addToCart()">Add to Cart</button>
        </div> -->

        <div class="mt-4">
          <div class="row text-center gy-3">
            <div class="col-6 col-md-4" *ngFor="let detail of productDetails">
              <div class="p-3 border rounded h-100 shadow-sm bg-light">
                <div class="text-primary fs-4 mb-1">
                  <i [class]="detail.icon"></i>
                </div>
                <div class="fw-semibold">{{ detail.title }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Full Description -->
    <div class="border my-5">
      <div class="table-responsive">
        <table class="table table-borderless align-middle rounded">
          <thead class="text-uppercase">
            <tr>
              <th>Specifications</th>
            </tr>
          </thead>
          <tbody class="bg-light">
            <tr *ngFor="let spec of product.productSpecs" class="border">
              <td class="fw-medium text-dark fw-bold">{{ spec.component }}</td>
              <td class="text-muted">{{ spec.model }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="bg-light p-4  rounded shadow-sm">
      <h4>Description</h4>
      <p>{{ product.description }}</p>
    </div>


  </div>

</div>