<div class="container-fluid min-vh-100 d-flex background-image">
  <!-- Left Panel (hidden on small screens) -->
  <div class="d-none d-md-block col-md-6 left-panel">
    <!-- You can add a background image with CSS here -->
  </div>
  <div class="container mt-5">
    <h3>Reset Password</h3>
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput [(ngModel)]="password" type="password" />
    </mat-form-field>
    <br />
    <button mat-raised-button color="accent" (click)="submit()">Reset Password</button>
  </div>
</div>