h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

.font-weight-500 {
  font-weight: 500;
}

.font-size-16 {
  font-size: 16px;
}

.details-color {
  background-color: #3b3b3b;
}

.content {
  padding-top: 70px;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.rounded-circle {
  border: 1px solid #ccc;
}

.bg-grey {
  background-color: #f8f8f8;
}

.product-detail-color {
  background-color: #fafafa;
}

.sale {
  background-color: #525252;
  color: #ffffff;
  height: 22px;
  width: 50px;
  border-radius: 12px 5px 5px 0;
  font-size: 13px;
}

.filer-radius {
  border-radius: 10px;
}

.color-right {
  right: 0px;
  position: absolute;
}