<div class="content">
    <div class="container py-4">
        <div class="card shadow-sm p-4">
            <h4 class="mb-4">🔍 Product Details</h4>

            <div class="p-3">
                <div class="row">
                    <div class="col-lg-12">
                        <form [formGroup]="pcComponentEditForm">
                            <div class="row">
                                <div class="col-md-6 mt-2">
                                    <!-- Product Name -->
                                    <div class="col-sm-12 col-md-12 mt-2 mb-3">
                                        <div class="form-group form-floating mb-0">
                                            <input formControlName="name" placeholder=" " style="z-index: 0;"
                                                class="form-control" required>
                                            <label class="col-form-label truncate">
                                                Product Name
                                                <span class="importanSymbol">*</span></label>
                                        </div>
                                    </div>
                                    <!-- Product Type -->
                                    <div class="col-sm-12 col-md-12 mt-2 mb-3">
                                        <div class="form-floating">
                                            <mat-form-field appearance="fill" class="w-100">
                                                <mat-label>Product Type</mat-label>
                                                <mat-select formControlName="productType">
                                                    <mat-option *ngFor="let data of serverConstant.ComponentsIcon"
                                                        [value]="data.name">
                                                        {{ data.name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>
                                    </div>
                                    <!-- Brand Type -->
                                    <div class="col-sm-12 col-md-12 mt-2 mb-3">
                                        <div class="form-floating">
                                            <mat-form-field appearance="fill" class="w-100">
                                                <mat-label>Brand Type <span
                                                        class="importanSymbol">*</span></mat-label>
                                                <mat-select formControlName="brandType">
                                                    <mat-option *ngFor="let data of BrandTypes"
                                                        [value]="data.brand">
                                                        {{ data.brand }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>

                                        </div>
                                    </div>

                                    <!-- Product Image -->
                                    <div class="col-md-12 mt-2 mb-3">
                                        <label for="productImage">Product Image</label>
                                        <div class="form-group form-floating mb-0">
                                            <input type="file" class="form-control"
                                                (change)="onFileChange($event)" accept="image/*" />
                                            <small *ngIf="fileName">{{ fileName }}</small>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6 mt-2">
                                    <!-- Product Original Price -->
                                    <div class="col-md-12 mt-2 mb-3">
                                        <div class="form-group form-floating mb-0">
                                            <input type="number" formControlName="originalPrice" placeholder=" "
                                                class="form-control">
                                            <label class="col-form-label truncate">
                                                Product Original Price<span class="importanSymbol">*</span></label>
                                        </div>
                                    </div>
                                    <!-- Product Price -->
                                    <div class="col-md-12 mt-2 mb-3">
                                        <div class="form-group form-floating mb-0">
                                            <input type="number" formControlName="sellingPrice" placeholder=" "
                                                class="form-control">
                                            <label class="col-form-label truncate">
                                                Product Price<span class="importanSymbol">*</span></label>
                                        </div>
                                    </div>
                                    <!-- Active -->

                                    <div class="col-md-12 mt-2 mb-3">
                                        <label class="switch">
                                            <input type="checkbox" formControlName="isActive">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="float-end d-flex gap-2">
                    <button type="button" class="btn btn-warning btn-w-m dim" [routerLink]="['/pc-hardware-list']">
                        Cancel
                    </button>
                    <button class="btn btn-primary btn-w-m dim" (click)="onSubmit()"><i class="fa fa-save"></i>
                        Create</button>
                </div>
            </div>

        </div>
    </div>

</div>